<!DOCTYPE html>
<html lang="en" ng-app='MySecondApp'>
<head>
	<meta charset="UTF-8">
	<title>First Cyprus AngularJS Meetup | Example 2</title>

	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="icon" href="../favicon.ico" type="image/x-icon">

	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>	
	<h1 class="page-header">Konstantinou kai Elenis</h1>

	<h2>Unsorted</h2>
	<div class="container" ng-repeat='item in items'>
		<h3 class="item__name" ng-bind='item.name'></h3>
		<img class="item__image" ng-src="https://graph.facebook.com/{{item.facebookId}}/picture?type=large">
	</div>
	<hr>

	<h2>Sorted By Name</h2>
	<div class="container" ng-repeat="item in items | orderBy:'name'">
		<h3 class="item__name" ng-bind='item.name'></h3>
		<img class="item__image" ng-src="https://graph.facebook.com/{{item.facebookId}}/picture?type=large">
	</div>
	<hr>

	<h2>Sorted By Facebook Id Descenting</h2>
	<div class="container" ng-repeat="item in items | orderBy:'-facebookId'">
		<h3>
			<span class="item__name" ng-bind='item.name'></span>
			<br>
			<small class="item__id" ng-bind='item.facebookId'></small>
		</h3>
		<img class="item__image" ng-src="https://graph.facebook.com/{{item.facebookId}}/picture?type=large">
	</div>
	<hr>

	<h2>Sorted By Gender & Add some color!</h2>
	<div class="container" ng-repeat="item in items | orderBy:'gender'">
		<h3>
			<span ng-class="{'male': item.gender === 'male', 'female': item.gender === 'female'}" class="item__name" ng-bind='item.name'></span>
		</h3>
		<img class="item__image" ng-src="https://graph.facebook.com/{{item.facebookId}}/picture?type=large">
	</div>
	<hr>

	<h2>Filter By Gender</h2>
	<div class="container" ng-repeat="item in items | filter:{gender:'female'}">
		<h3>
			<span ng-class="{'male': item.gender === 'male', 'female': item.gender === 'female'}" class="item__name" ng-bind='item.name'></span>
		</h3>
		<img class="item__image" ng-src="https://graph.facebook.com/{{item.facebookId}}/picture?type=large">
	</div>
	<hr>	
	
	<script type="text/javascript" src='../bower_components/angular/angular.js'></script>
	<script type="text/javascript">
		angular
			.module('MySecondApp', [])
			.run(['$rootScope', function($rootScope){
				$rootScope.items = [
					{
						name: 'Eleni Blaxaki',
						facebookId: '1377318569198849',
						gender: 'female'
					},
					{
						name: 'Nikolas Varthakoulias',
						facebookId: '232794266745791',
						gender: 'male'
					},
					{
						name: 'Matina Mantarinaki',
						facebookId: '194049934097734',
						gender: 'female'
					},
					{
						name: 'Konstantinos Katakouzinos',
						facebookId: '187084701475258',
						gender: 'male'
					}
				];
			}]);
	</script>
</body>
</html>